.header {
  background-color: var(--primary-white-color);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 64px;
}

.logo {
  position: absolute;
  width: 136px;
  height: 16px;
   left: 0;
  top: 4px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  color: var(--primary-black-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.header_wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}