.btn {
  display: flex;
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--accent-color);
  padding: 16px 0;
  border: 0;
  width: 173px;
}
.btn:hover {
  background: var(--accent-hover-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}

.btn_search {
  display: flex;
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--accent-color);
  padding: 16px 0;
  border: 0;
  width: 166px;
  margin-top: 40px;
  cursor: pointer;
}

.btn_search:hover {
  background: var(--accent-hover-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}

.btn_show_more {
  display: flex;
  height: 56px;
  display: flex;
  color: var(--primary-white-color);
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  background: var(--accent-color);
  padding: 16px 0;
  border: 0;
  width: 166px;
  cursor: pointer;
}

.btn_show_more:hover {
  background: var(--accent-hover-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}